 .nextButton{

	width: 40%;

	margin-left: 30%;

	margin-top: 10px;
}


.listContainer {

	width: 40%;

	margin-left: 30%;

}

.loadingSpinner {

	display: none;

	font-size: 30px;

	text-align: center;
}